.intro-container {
  text-align: center;
  background-color: var(--accent1);
  color: white;
  // padding: 2rem;

  & h2 {
    padding-block-start: 2rem;
  }

  & p {
    padding: 2rem;
  }
}

.two-column {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 3rem var(--gutter);
  margin-block: 3rem;
  align-items: center;

  & p {
    padding-inline: 1rem;
    padding-block: .5rem;
  }

  & .grid-item {
    & img {
      width: 100%;
      height: 100%;
      padding-inline: 2rem;
    }
  }

    & h3 {
      padding-block-end: 1rem;
      padding-inline-start: 1rem;
    }
  
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    text-align: center;

    & h3 {
      padding-block: 1rem;
    }
  }
}