header {
    background-color: var(--accent1);
    text-align: center;
    color: white;
    padding: 3rem;
    margin: 2rem 0;
  
    & p {
      padding-block-start: 1rem;
    }
  }
  
  .container {
    display: flex;
  }
  
  aside {
    display: flex;
    width: 20%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: fit-content;
    flex-direction: column;
    padding-inline-start: var(--gutter);
    padding-inline-end: 2rem;
  
    & a {
      color: var(--accent1);
      text-decoration: none;
      font-size: 1.2em;
      padding-block: 1em;    
  
      &:visited {
        color: var(--accent1);
      }
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    @media screen and (max-width: 768px) {
        display: none;
    }
  }
  
  main {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2rem;
  
    & .line {
      border-top: 4px solid var(--mono-lightest);
      padding-block-start: 3rem;
    }
  
    & h3 {
      margin-block-end: .5rem;
    }
  
  
    & h4 {
      margin-block-end: 1rem;
      padding-block-end: 1rem;;
    }
  
  
    & .flex-item {
      margin-block-end: 8rem;
  
      & img {
        max-width: 50%;
        aspect-ratio: 1 / 1;
      }
  
      & h1 {
        padding-block-end: .5rem;
      }
  
      & p {
        padding-block-end: 2rem;
      }
    }
  
    & .btn {
      border-radius: 1.5em;
      padding: 1rem 3rem;
      background: var(--accent1);
      color: white;
      text-decoration: none;
    }
  }